@import "tailwindcss";

@theme {
  --animate-marquee: marquee 40s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(0);
    }
  }
}
